// Border radius
$border-radius-base: $font-size-medium !default;
$border-radius-full: 9999px !default;

$border-radius-4xsmall: calc(#{$border-radius-base} / 16) !default;
$border-radius-3xsmall: calc(#{$border-radius-base} / 8) !default;
$border-radius-2xsmall: calc(#{$border-radius-base} / 4) !default;
$border-radius-xsmall: calc(#{$border-radius-base} / 2) !default;
$border-radius-small: calc(#{$border-radius-base} * 0.75) !default;
$border-radius-medium: #{$border-radius-base} !default;
$border-radius-large: calc(#{$border-radius-base} * 1.5) !default;
$border-radius-xlarge: calc(#{$border-radius-base} * 2) !default;
$border-radius-2xlarge: calc(#{$border-radius-base} * 3) !default;
$border-radius-3xlarge: calc(#{$border-radius-base} * 4) !default;
$border-radius-4xlarge: calc(#{$border-radius-base} * 6) !default;
$border-radius-5xlarge: calc(#{$spacing-base} * 8) !default;

$border-radius-default: $border-radius-2xsmall !default;


// Border width
$border-width-small: 1px !default;
$border-width-medium: 2px !default;
$border-width-large: 4px !default;
$border-width-xlarge: 8px !default;
$border-width-2xlarge: 16px !default;

$border-width-default: $border-width-small !default;

// Style
$border-style-default: solid !default;