$font-family-default: sans-serif !default;
$font-color-default: $color-neutral-darkest !default;
$font-weight-default: initial !default;
$font-size-default: 16px !default;

$font-size-2xsmall: 0.625rem !default;
$font-size-xsmall: 0.75rem !default;
$font-size-small: 0.875rem !default;
$font-size-medium: 1rem !default;
$font-size-large: 1.25rem !default;
$font-size-xlarge: 1.5rem !default;
$font-size-2xlarge: 1.75rem !default;

$font-size-default: $font-size-medium !default;
