$layer-0-z: unset !default;
$layer-1-z: 5 !default;
$layer-2-z: 10 !default;
$layer-3-z: 15 !default;
$layer-4-z: 20 !default;
$layer-5-z: 25 !default;
$layer-6-z: 30 !default;
$layer-7-z: 35 !default;
$layer-8-z: 40 !default;
$layer-9-z: 45 !default;
$layer-10-z: 50 !default;
$layer-11-z: 55 !default;
$layer-12-z: 60 !default;