// @component article column
@mixin article_variant_default {
	@include column_variant_default;
	@include component_spacing_gap-medium;


	// header counter
	counter-reset: chapter1;
}

// @component code content
@mixin code_variant_article {
	@include component_spacing_vertical-medium;
	@include component_spacing_horizontal-large;
	width: 100%;
	display: block;
	background-color: $color-neutral-lighter;
	font-family: Monospace;
	font-size: 0.8rem;
	white-space: pre-wrap;
	.is-code-method {
		color: $color-secondary-dark;
	}
	.is-code-variable {
		color: $color-primary-dark;
	}
	// override string coloring in comments
	.is-code-comment, .is-code-comment .is-code-string {
		color: $color-success-base;
	}
	.is-code-string {
		color: $color-warning-dark;
	}
	.is-code-keyword {
		color: $color-danger-base;
	}
}

@mixin h1_variant_article {
	font-weight: bold;
	counter-reset: chapter2;

	&:before {
		content: counter(chapter1) ".";
		counter-increment: chapter1;
		margin-right: $spacing-medium;
	}
}
@mixin h2_variant_article {
	font-weight: bold;
	counter-reset: chapter3;
	&:before {
		content: counter(chapter1) "." counter(chapter2);
		counter-increment: chapter2;
		margin-right: $spacing-medium;
	}
}
@mixin h3_variant_article {
	counter-reset: chapter4;
	&:before {
		content: counter(chapter1) "." counter(chapter2) "." counter(chapter3);
		counter-increment: chapter3;
		margin-right: $spacing-medium;
	}
}
@mixin h4_variant_article {
	counter-reset: chapter5;
}
@mixin h5_variant_article {
	counter-reset: chapter6;
}
@mixin h6_variant_article {
}

@mixin code_variant_inline {
	display: inline-block;
	background-color: $color-neutral-lighter;
	font-family: Monospace;
	font-weight: bold;
	padding-left: $spacing-xsmall;
	padding-right: $spacing-xsmall;
}

@mixin column_variant_article {
	@include component_spacing_gap-medium;
}
@mixin row_variant_article {
	@include component_spacing_gap-medium;
}

// @component quote content
@mixin quote_variant_article {
	
}

@mixin p_variant_article {
	display: block;
}





// @component video content
@mixin video_variant_article {
	max-width: 100%;
}
