@mixin layout_overflow_auto {
	overflow: auto;
	max-height: 100%;
	max-width: 100%;
}
@mixin layout_overflow_visible {
	overflow: visible;
}
@mixin layout_overflow_hidden {
	overflow: hidden;
	max-height: 100%;
	max-width: 100%;
}