@mixin component_position_right {
	margin-left: auto;
	// just in case...
	right: 0;
}
@mixin component_position_bottom {
	margin-top: auto;
	bottom: 0;
}
// only works in grids, not sure if we should have this here cause we flex
@mixin component_position_main-center {
	justify-self: center;
}
@mixin component_position_main-start {
	justify-self: flex-start;
}
@mixin component_position_main-end {
	justify-self: flex-end;
}

@mixin component_position_cross-center {
	align-self: center;
}
@mixin component_position_cross-start {
	align-self: flex-start;
}
@mixin component_position_cross-end {
	align-self: flex-end;
}
@mixin component_position_center {
	@include component_position_main-center;
	@include component_position_cross-center;
	margin: auto;
}
@mixin component_position_start {
	@include component_position_main-start;
	@include component_position_cross-start;
}
@mixin component_position_end {
	@include component_position_main-start;
	@include component_position_cross-end;
}

@mixin component_position_vertical-center {
	margin-top: auto;
	margin-bottom: auto;
}
@mixin component_position_horizontal-center {
	margin-left: auto;
	margin-right: auto;
}