@mixin component_ratio_square {
	aspect-ratio: 1/1;
}

@mixin component_ratio_portrait-1-2 {
	aspect-ratio: 1/2;
}
@mixin component_ratio_portrait-2-3 {
	aspect-ratio: 2/3;
}
@mixin component_ratio_portrait-3-4 {
	aspect-ratio: 3/4;
}

@mixin component_ratio_landscape-2-1 {
	aspect-ratio: 2/1;
}
@mixin component_ratio_landscape-3-2 {
	aspect-ratio: 3/2;
}
@mixin component_ratio_landscape-4-3 {
	aspect-ratio: 4/3;
}
@mixin component_ratio_landscape-16-9 {
	aspect-ratio: 16/9;
}
